<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399058439703-sidtcql4km712t2tinmepnlrs6gv59ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399058439703-sidtcql4km712t2tinmepnlrs6gv59ha</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ9vM_7wMFIW5i7rdHT36_4F1e-5nUlIM</string>
	<key>GCM_SENDER_ID</key>
	<string>399058439703</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fundaciongaselec.mem</string>
	<key>PROJECT_ID</key>
	<string>museo-app-633f1</string>
	<key>STORAGE_BUCKET</key>
	<string>museo-app-633f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399058439703:ios:90de1c57279fb455fb5652</string>
</dict>
</plist>